* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
}

:root {
    --cubeSize: 45vh;
    --halfCube: calc(var(--cubeSize) / 2);
    --pieceSize: calc(var(--cubeSize) / 3);
    --halfPiece: calc(var(--pieceSize) / 2);
    --thirdPiece: calc(var(--pieceSize) / 3);
    --twoThird: calc(var(--thirdPiece) * 2);
    --doublePieceSize: calc(var(--pieceSize) * 2);
}

.rubik {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    background-color: purple;
}

.cubeContainer {
    height: var(--cubeSize);
    width: var(--cubeSize);
    transform-style: preserve-3d;
    transform-origin: var(--halfCube) var(--halfCube) 0;
}

.cubeContainer > div {
    position: absolute;
    height: var(--pieceSize);
    width: var(--pieceSize);
    transform-style: preserve-3d;
    transform-origin: var(--halfPiece) var(--halfPiece) 0;
}
.corner1, .side5, .corner6 {
    top: 0;
    left: 0;
}
.side1, .center3, .side9 {
    top: 0;
    left: var(--pieceSize);
}
.corner2, .side6, .corner5 {
    top: 0;
    left: var(--doublePieceSize);
}
.side4, .center5, .side10 {
    top: var(--pieceSize);
    left: 0;
}
.center1, .center2 {
    top: var(--pieceSize);
    left: var(--pieceSize);
}
.side2, .center6, .side12 {
    top: var(--pieceSize);
    left: var(--doublePieceSize);
}
.corner4, .side8, .corner7 {
    top: var(--doublePieceSize);
    left: 0;
}
.side3, .center4, .side11 {
    top: var(--doublePieceSize);
    left: var(--pieceSize);
}
.corner3, .side7, .corner8 {
    top: var(--doublePieceSize);
    left: var(--doublePieceSize);
}

.cubeContainer > div > div {
    position: absolute;
    height: var(--pieceSize);
    width: var(--pieceSize);
    border: solid 0.15rem black;
    border-radius: 15%;
}
.face1, .face2, .face3, .face4, .face5, .face6 {
    background-color: rgb(10, 10, 10);
}
.faceF {
    background-color: white;
}
.faceB {
    background-color: yellow;
}
.faceU {
    background-color: green;
}
.faceD {
    background-color: blue;
}
.faceL {
    background-color: red;
}
.faceR {
    background-color: darkorange;
}

.corner1, .side1, .corner2, .side2, .corner3, .side3, .corner4, .side4, .center1 {
    transform: translateZ(var(--pieceSize));
}
.corner5, .side9, .corner6, .side10, .corner7, .side11, .corner8, .side12, .center2 {
    transform: translateZ(calc(var(--pieceSize) * (-1)));
}

.faceF, .face1 {
    transform: translateZ(var(--halfPiece));
}
.faceB, .face2 {
    transform: rotateY(180deg) translateZ(var(--halfPiece));
}
.faceU, .face3 {
    transform: rotateX(90deg) translateZ(var(--halfPiece));
}
.faceD, .face4 {
    transform: rotateX(-90deg) translateZ(var(--halfPiece));
}
.faceL, .face5 {
    transform: rotateY(-90deg) translateZ(var(--halfPiece));
}
.faceR, .face6 {
    transform: rotateY(90deg) translateZ(var(--halfPiece));
}